<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
	<style>
		body {
			background: #F2F2F2 url(/static/backround.jpg);
		}
	</style>
    <title>ФР</title>
	<link href='https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&family=Russo+One&display=swap' rel='stylesheet' type='text/css'>
	<link href="/static/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
	<h1>Фронтир</h1>
	<table>
		<tr>
			<td>
				<img src="/static/game1.jpg" alt="Фотография 1" width="400" height="400">
				<h5>Игра 1</h5>
				<h6>15 минут</h6>
				<h6>Легко</h6>
				<h6>Порисовать</h6>
				<div id="game1"></div>
				<h6>Порисовать</h6>
			</td>
			<td>
				<img src="/static/game2.jpg" alt="Фотография 2" width="400" height="400">
				<h5>Игра 2</h5>
			</td>
			<td>
				<img src="/static/game3.jpg" alt="Фотография 3" width="400" height="400">
				<h5>Игра 3</h5>
			</td>
		</tr>
		<tr>
			<td>
				<img src="/static/game4.jpg" alt="Фотография 4" width="400" height="400">
				<h5>Игра 4</h5>
			</td>
			<td>
				<img src="/static/game5.jpg" alt="Фотография 4" width="400" height="400">
				<h5>Игра 5</h5>
			</td>
			<td>
				<img src="/static/game6.jpg" alt="Фотография 4" width="400" height="400">
				<h5>Игра 6</h5>
			</td>
		</tr>
	</table>
	<script src="/static/eight.js"></script>
  </body>
</html>